{:paths ["resources" "src"]
 :deps  {com.taoensso/encore   {:mvn/version "3.1.0"}
         net.cgrand/xforms     {:mvn/version "0.19.2"}
         clojure.java-time     {:mvn/version "0.3.2"}
         meander/epsilon       {:mvn/version "0.0.488"}
         hesse/danzig          {:git/url "https://github.com/ribelo/danzig"
                                :sha     "704a3dbde386fb488e960eea00251267b0e22e79"}}}
