{:paths ["resources" "src"]
 :deps  {org.clojure/tools.cli {:mvn/version "0.4.2"}
         com.taoensso/encore   {:mvn/version "2.115.0"}
         net.cgrand/xforms     {:mvn/version "0.19.0"}
         clojure.java-time     {:mvn/version "0.3.2"}
         ribelo/wombat         {:git/url "https://github.com/ribelo/wombat"
                                :sha     "0e56b753d5dbda9bbdc36528c9f7a9824544b430"}}}
