{:paths ["resources" "src"]
 :deps  {org.clojure/tools.cli {:mvn/version "0.4.2"}
         com.taoensso/encore   {:mvn/version "2.115.0"}
         net.cgrand/xforms     {:mvn/version "0.19.0"}
         clojure.java-time     {:mvn/version "0.3.2"}
         ribelo/wombat         {:git/url "https://github.com/ribelo/wombat"
                                :sha     "b8afee5947e62d607ad6e7248afde166b056a318"}}}
